 {{>header}}
{{>navbar}}
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="wrapper">
<div class="sidebar">
  <h2> Cinema XXX</h2>
  <ul>
    <li><a href="/"> <i class="fas fa-home">Home</i></a></li>
    <li><a href="/ticket"><i class="fas fa-ticket-alt">Ticket</i></a></li>
    <li><a href="/movie"> <i class="fas fa-film">Movie</i></a></li>
    <li><a href="/type"> <i class="fas fa-list">Type</i></a></li>
    <li><a href="/list-ticket"> <i class="fas fa-address-book"> list-Ticket</i></a></li>
    <li><a href="#"> <i class="fas fa-map-pin">maps</i></a></li>
  </ul>
  <div class="social_media">
    <a href="www.facebook.com"> <i class=" fab fa-facebook-f"></i></a>
    <a href="www.twitter.com"> <i class=" fab fa-twitter"></i></a>
    <a href="www.instagram.com"> <i class=" fab fa-instagram"></i></a>
  </div> 
  </div>
  




 <div class="main_content">
    
    <div class="px-4 py-5 my-5 text-center shadow p-3 mb-5 rounded">
    <h1 class="display-5 fw-bold">CINEMA XXX</h1>
    <p class="lead mb-4">
        Get entertainment with us and your favorite movie with the best service to entertain you, let's hurry up and order tickets before they run out
    </p>
    <div class="d-flex flex-row justify-content-center mb-3">
    <button class="btn btn-success text-uppercase btn-lg" ><a href="/add-ticket" class="text-decoration-none text-light"> Get Tiket</a></button>
</div>
    </div>

      <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                  <img src="/public/image/puteri.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                      Rumor Puteri Ketiga</h5>
                      <h6>
                       Romance</h6>

                        </div>
                      </div>
                      </div>
                   <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                  <img src="/public/image/harry.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                  <div class="card-body">
                    <h5 class="card-title">
                        harry</h5>
                          <h6>Horor</h6>

                  </div>
                  </div>  
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                  <img src="/public/image/anaku.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Anabel</h5>
                    <h6>Horor</h6>

                  </div>
                </div>
                </div>
              </div>
            </div>
	   
			 
    </div>
  </div>

  {{footer}}



